.caixa-cadastro{
   border: #292936;
   padding: 20px;
   width: fit-content;
   border-radius: 4px;
}
*{

    margin: 0;
    padding: 0;
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #0f0f14;
        color: #369c94;
        line-height: 1.6;
    }
    
    a{
     text-decoration: none;   
     color: inherit; /*inherit copia el color */
    }.projetos-secao{
    background-color: #0f0f14;
}

.projetos{
    display: flex;
    gap: 25px;
}

.numero-projeto{
    color: #369c94;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tecnologias{
    display: flex;
    gap: 8px;
    margin-bottom: 25px;
}

.tecnologias span{
    background-color: #292936;
    color: #bdbdc9;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
}

nav{
    display: flex;
    gap: 30px; /*espacio entre los textos de la barra de navegacion*/
}

nav a{
    color: #b8b8c7;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover{ /*hover es una pseudoclase*/
color:#369c94;
}

section{
    padding: 100px 10%;
    }
    
    .titulo-secao{
        margin-bottom: 50px;
    }
    
    .titulo-secao p{
        color:#369c94;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .titulo-secao h2{
        font-size: 38px;
    }