 /* CENTRALIZAR O CONTEUDO NO MEIO*/
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f0f14;
    color: #ffffff;
    line-height: 1.6;
}

 /* ESTILO DO QUADRADO*/

.caixa-cadastro{
   border: 2px #ffffff;
   padding: 30px;
   border-radius: 8px;
   /* CENTRALIZAR O CONTEUDO DENTRO DA CAIXA*/
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}
/* estilo dos rotulos nome e idade*/

.caixa-cadastro label{
    font-size: 16px;
    font-weight: bold;
}

/* estilo dos rotulos de texto*/

.caixa-cadastro input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
}
/* estilo do botão*/

.caixa-cadastro button{
    padding: 8px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #369c94;
    color: white;
    font-weight: bold;
}

